[flake8]
max_line_length = 120
select = A,B,C,D,E,F,W
exclude = .git, __pycache__, *venv/*, .aws-sam, random-xyz.py
per-file-ignores =
    src/*, tests/*: E501
    datascience/*.py: B902 C409
    # Below is actual per-file-ignores
    src/info_function.py: B901 B902 E722 E800 E265
ignore = A003, B902, D100, D105, D300, D401, D403, N801, N807, N815, T001, W503, W504, E800
