**/.vscode/**
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/settings.json
!**/.vscode/extensions.json

**/tmp/
**/dist/
**/*venv/
**/build/
**/htmlcov/
__pycache__/
**/.pytest_cache/
**/tests/results/
**/.ipynb_checkpoints/

.env
*egg*
.idea
*.zip
*.pyc
*.swp
*_cache
*pycache
.history
.DS_Store
.coverage
!.gitkeep
.gitconfig
.env.local
*.template
poetry.toml
Pipfile.lock

# AWS SAM
**/*layer*/
**/.aws-sam/
template.dev.conf
template.prod.conf
serverless-output.*

# AWS CDK
cdk.out
.cdk.staging

# Custom
*.csv
*.xlsx
*.icloud

# Temp
random-123.py
buildspec.yml

#python ignore

#coverage files
.coverage
code-coverage/
