**/.vscode/**
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/settings.json
!**/.vscode/extensions.json

**/tmp/
**/venv/
**/dist/
**/*.swp
**/build/
**/htmlcov/
**/.pytest_cache/
**/tests/results/**
**/.ipynb_checkpoints/

.env
*egg*
.idea
*.zip
*.pyc
*_cache
*pycache
.history
.DS_Store
!.gitkeep
*coverage*
report.xml
__pycache__
Pipfile.lock

# Custom
*.csv
*.xlsx

# AWS SAM
**/*layer*/
**/.aws-sam/
template.dev.conf
template.prod.conf
serverless-output.*

# AWS CDK
cdk.out
.cdk.staging

# temp
random-123.py
buildspec.yml
