[[source]]
name = 'pypi'
url = 'https://pypi.org/simple'
verify_ssl = true

[packages]
flask = '1.1.4'
multidict = '5.2.0'
requests = '2.26.0'

# configparser = '5.2.0'
python-dotenv = '0.19.2'

pg8000 = '1.23.0'
# pysqlite3 = '*'
sqlalchemy = '1.4.27'
sqlalchemy-migrate = '0.13.0'

numpy = '1.21.4'
pandas = '1.3.4'
sklearn = '0.0'

matplotlib = '3.5.0'

# dask = '2021.11.2'
docker = '5.0.3'

boto3 = '1.20.19'
s3fs = '2021.11.1'

# awscli = '2.1.39'
# aws-sam-cli = '1.35.0'
aws_xray_sdk = '2.8.0'

aws-lambda-context = '1.1.0'
aws-lambda-powertools = '1.22.0'

'aws-cdk.aws-apigateway' = '1.134.0'
'aws-cdk.aws-cloudtrail' = '1.134.0'
'aws-cdk.aws-cognito' = '1.134.0'
'aws-cdk.aws-ec2' = '1.134.0'
'aws-cdk.aws-elasticsearch' = '1.134.0'
'aws-cdk.aws-events' = '1.134.0'
'aws-cdk.aws-events-targets' = '1.134.0'
'aws-cdk.aws-iam' = '1.134.0'
'aws-cdk.aws-kms' = '1.134.0'
'aws-cdk.aws-lambda' = '1.134.0'
'aws-cdk.aws-route53' = '1.134.0'
'aws-cdk.aws-route53-targets' = '1.134.0'
'aws-cdk.aws-s3' = '1.134.0'
'aws-cdk.aws-secretsmanager' = '1.134.0'
'aws-cdk.aws-sns' = '1.134.0'
'aws-cdk.aws-ssm' = '1.134.0'
'aws-cdk.aws-wafv2' = '1.134.0'
'aws-cdk.core' = '1.134.0'

# xyz-common
# xyz-common-dev
# A common prod/dev layer

[dev-packages]
conda = '4.3.16'
ipython = '7.30.1'

mock = '4.0.3'
moto = '2.2.16'

debugpy = '1.5.1'
ptvsd = '4.3.2'

flake8 = '4.0.1'
flake8-blind-except = '0.2.0'
flake8-breakpoint = '1.1.0'
flake8-builtins = '1.5.3'
flake8-comprehensions = '3.7.0'
flake8-docstrings = '1.6.0'
flake8-eradicate = '1.2.0'
flake8-logging-format = '0.6.0'
flake8-print = '4.0.0'
flake8-rst-docstrings = '0.2.3'
flake8-typing-imports = '1.11.0'
pylint = '2.12.1'

cfn-lint = '0.56.2'
pep8-naming = '0.12.1'

autopep8 = '1.6.0'
rstcheck = '3.3.1'
snooty-lextudio = '1.11.5'

pytest = '6.2.5'
pytest-cov = '3.0.0'
pytest-html = '3.1.1'
pytest-mock = '3.6.1'
pytest-xdist = '2.4.0'
testfixtures = '6.18.3'

bandit = '1.7.1'
safety = '1.10.3'
twine = '3.6.0'

pre-commit = '2.15.0'

[requires]
python_version = '3.8'
