[[source]]
name = 'pypi'
url = 'https://pypi.org/simple'
verify_ssl = true

[packages]
boto3 = '*'
requests = '*'

numpy = '*'
pandas = '*'

matplotlib = '*'
python-dotenv = '*'

'aws-cdk.aws-apigateway' = '*'
'aws-cdk.aws-cloudtrail' = '*'
'aws-cdk.aws-cognito' = '*'
'aws-cdk.aws-ec2' = '*'
'aws-cdk.aws-elasticsearch' = '*'
'aws-cdk.aws-events' = '*'
'aws-cdk.aws-events-targets' = '*'
'aws-cdk.aws-iam' = '*'
'aws-cdk.aws-kms' = '*'
'aws-cdk.aws-lambda' = '*'
'aws-cdk.aws-route53' = '*'
'aws-cdk.aws-route53-targets' = '*'
'aws-cdk.aws-s3' = '*'
'aws-cdk.aws-secretsmanager' = '*'
'aws-cdk.aws-sns' = '*'
'aws-cdk.aws-ssm' = '*'
'aws-cdk.aws-wafv2' = '*'
'aws-cdk.core' = '*'

[dev-packages]
debugpy = '*'
moto = '*'

flake8 = '*'
flake8-blind-except = '*'
flake8-breakpoint = '*'
flake8-builtins = '*'
flake8-comprehensions = '*'
flake8-docstrings = '*'
flake8-eradicate = '*'
flake8-logging-format = '*'
flake8-print = '*'
flake8-rst-docstrings = '*'
flake8-typing-imports = '*'

cfn-lint = '*'
pep8-naming = '*'

autopep8 = '*'
rstcheck = '*'

pytest = '*'
pytest-cov = '*'
pytest-html = '*'
pytest-mock = '*'
pytest-xdist = '*'

bandit = '*'
safety = '*'

pre-commit = '*'

[requires]
python_version = '3.8'
