[[source]]
name = 'pypi'
url = 'https://pypi.org/simple'
verify_ssl = true

[packages]
boto3 = '*'
requests = '*'

numpy = '*'
pandas = '*'

matplotlib = '*'
python-dotenv = '*'

'aws-cdk.aws-apigateway' = '*'
'aws-cdk.aws-cloudtrail' = '*'
'aws-cdk.aws-cognito' = '*'
'aws-cdk.aws-ec2' = '*'
'aws-cdk.aws-elasticsearch' = '*'
'aws-cdk.aws-events' = '*'
'aws-cdk.aws-events-targets' = '*'
'aws-cdk.aws-iam' = '*'
'aws-cdk.aws-kms' = '*'
'aws-cdk.aws-lambda' = '*'
'aws-cdk.aws-route53' = '*'
'aws-cdk.aws-route53-targets' = '*'
'aws-cdk.aws-s3' = '*'
'aws-cdk.aws-secretsmanager' = '*'
'aws-cdk.aws-sns' = '*'
'aws-cdk.aws-ssm' = '*'
'aws-cdk.aws-wafv2' = '*'
'aws-cdk.core' = '*'

[dev-packages]
mock = '4.0.3'
ptvsd = '4.3.2'

debugpy = '1.5.1'
moto = '2.2.16'

flake8 = '4.0.1'
flake8-blind-except = '0.2.0'
flake8-breakpoint = '1.1.0'
flake8-builtins = '1.5.3'
flake8-comprehensions = '3.7.0'
flake8-docstrings = '1.6.0'
flake8-eradicate = '1.2.0'
flake8-logging-format = '0.6.0'
flake8-print = '4.0.0'
flake8-rst-docstrings = '0.2.3'
flake8-typing-imports = '1.11.0'
pylint = '2.12.1'

cfn-lint = '0.56.2'
pep8-naming = '0.12.1'

autopep8 = '1.6.0'
rstcheck = '3.3.1'

pytest = '6.2.5'
pytest-cov = '3.0.0'
pytest-html = '3.1.1'
pytest-mock = '3.6.1'
pytest-xdist = '2.4.0'
testfixtures = '6.18.3'

bandit = '1.7.1'
safety = '1.10.3'
twine = '3.6.0'

pre-commit = '2.15.0'

[requires]
python_version = '3.8'
