mock
moto
debugpy

flake8
flake8-print
flake8-builtins
flake8-eradicate
flake8-breakpoint
flake8-docstrings
flake8-blind-except
flake8-comprehensions
flake8-logging-format
flake8-rst-docstrings
flake8-typing-imports

cfn-lint
pep8-naming

autopep8
rstcheck

pytest
pytest-cov
pytest-html
pytest-mock
pytest-xdist
testfixtures

twine
bandit
safety

pre-commit

# awscli==1.16.292
# aws-lambda-context
# aws-sam-cli==0.40.0
# sqlalchemy-migrate==0.13.0

# dask
# docker
# sklearn
# pysqlite3

# amx-common
# amx-common-dev
# A common prod/dev layer
